* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black: #1f2028;
  --light-black: #131317;
  --white: #ffffff;
  --light-purple: #be3ffa;
  --dark-purple: #911ed8;
  --orange: #e67e22;
  --light-blue: #1c7ed6;
  --dark-blue: #2f0449;
  --yellow: #f6cf00;
}

body {
  font-family: sans-serif;
  width: 1440px;
  background-color: var(--black);
}

/* Header Start */
.header {
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  background-color: var(--black);
}
.logo a {
  color: var(--light-purple);
  padding-left: 48px;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  font-size: 20px;
  color: var(--white);
  transition: all 0.3s;
}

.nav-links a:hover {
  color: var(--light-purple);
}

.nav-socialmedia {
  display: flex;
  gap: 20px;
}
.nav-socialmedia a i {
  color: var(--white);
  font-size: 28px;
  transition: all 0.3s;
}
.nav-socialmedia a i:hover {
  color: var(--light-purple);
}
/* Header End */

/* Section Projects Start */
.projects {
  width: 100%;
  height: 1400px;
}

.projects-title {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 120px;
}

.projects-title h1 {
  font-size: 40px;
  color: var(--white);
}

.projects-title i {
  font-size: 40px;
  color: var(--dark-purple);
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  gap: 50px;
}

.projects-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects-content-heading-omnifood {
  font-size: 32px;
  color: var(--orange);
}
.projects-content-heading-omnifood {
  font-size: 32px;
  color: var(--orange);
}
.projects-content-heading-loker {
  font-size: 32px;
  color: var(--light-blue);
}
.projects-content-heading-calculator {
  font-size: 32px;
  color: var(--yellow);
}

.projects-content p {
  font-size: 20px;
  color: var(--white);
}

.projects-content-button {
  display: inline-block;
  width: 60%;
  color: var(--white);
  background-color: var(--dark-blue);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 32px 72px;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;
}
.projects-content-button:hover {
  background-color: #1f2028;
}
/* Section Projects End */

/* Section Footer Start */
.footer {
  width: 100%;
}

.footer p {
  font-size: 20px;
  color: #fff;
  margin: 0 0 50px 50px;
}
/* Section Footer End */
