* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black: #1f2028;
  --light-black: #131317;
  --white: #ffffff;
  --light-purple: #be3ffa;
  --dark-purple: #911ed8;
  --orange: #e67e22;
  --light-blue: #1c7ed6;
  --dark-blue: #2f0449;
  --yellow: #f6cf00;
}

body {
  font-family: sans-serif;
  width: 1440px;
  background-color: var(--black);
}

/* Header Start */
.header {
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  background-color: var(--black);
}
.logo a {
  color: var(--light-purple);
  padding-left: 48px;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  font-size: 20px;
  color: var(--white);
  transition: all 0.3s;
}

.nav-links a:hover {
  color: var(--light-purple);
}

.nav-socialmedia {
  display: flex;
  gap: 20px;
}
.nav-socialmedia a i {
  color: var(--white);
  font-size: 28px;
  transition: all 0.3s;
}
.nav-socialmedia a i:hover {
  color: var(--light-purple);
}
/* Header End */

/* Section Hero Start */
.hero {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 104px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 844px;
  height: 464px;
  margin: 200px 0 184px 58px;
}

.heading-primary {
  font-size: 52px;
  line-height: 1.5;
  font-weight: bold;
  color: var(--white);
}

.heading-primary span {
  color: var(--light-purple);
}

.heading-description {
  font-size: 24px;
  letter-spacing: 2px;
  color: var(--white);
}

.hero-image-box {
  margin: 60px 0 0 100px;
}
.button-primary {
  display: inline-block;
  background-color: var(--dark-purple);
  color: var(--white);
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 32px 40px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;
}
.button-primary:hover {
  background-color: var(--light-purple);
}
.button-primary-hero {
  width: 30%;
}
/* Section Hero End */

/* Section About Start */
.about {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
  gap: 120px;
}

.about-image-box {
  margin: 48px 0 0 68px;
}
.profile-image {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 100%;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.heading-secondary {
  font-size: 52px;
  color: var(--white);
  font-weight: bold;
  margin-bottom: 56px;
}

.heading-tertiary {
  font-size: 24px;
  color: var(--white);
  margin-bottom: 64px;
}
.heading-tertiary span {
  color: var(--dark-purple);
}
.about-description {
  font-size: 24px;
  color: var(--white);
  line-height: 1.5;
  margin-bottom: 64px;
}

.button-primary-about {
  width: 40%;
}
/* Section About End */

/* Section Skills Start */
.skills {
  width: 100%;
  height: 728px;
  margin-top: 80px;
}

.skills-title {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.skills-title h1 {
  font-size: 40px;
  color: var(--white);
}
.skills-title i {
  font-size: 40px;
  color: var(--dark-purple);
}

.skills-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
}
.skills-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.skills-row .skills-icon-box i {
  font-size: 100px;
  color: var(--white);
}
.skills-row .skills-icon-box p {
  font-size: 20px;
  color: var(--white);
}

.margin-left {
  margin-left: 8px;
}
.margin-right {
  margin-right: 8px;
}

/* Section Skills End */

/* Section Project Start */
.project {
  width: 100%;
  height: 936px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.project-title h1 {
  font-size: 40px;
  color: var(--white);
}
.project-title i {
  font-size: 40px;
  color: var(--dark-purple);
}

.project-image {
  width: 900px;
  height: 500px;
}

.project-heading {
  font-size: 24px;
  color: var(--white);
}

.project-description {
  font-size: 20px;
  color: var(--white);
}

.button-primary-project {
  width: 20%;
}
/* Section Project End */

/* Section Contact Start  */
.contact {
  width: 100%;
  height: 350px;
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 48px;
}
.contact-title h1 {
  font-size: 40px;
  color: var(--white);
}
.contact-title i {
  font-size: 40px;
  color: var(--dark-purple);
}
.contact-box {
  text-align: center;
}
.contact-box p {
  font-size: 24px;
  color: var(--white);
}
.contact-box p span {
  color: var(--dark-purple);
}
/* Section Contact End  */

/* Footer Start */
.footer {
  width: 100%;
}

.footer p {
  font-size: 20px;
  color: #fff;
  margin: 0 0 50px 50px;
}
/* Footer End */

/* Media Queries   */

/* @media (max-width: 992px) {
  body {
    width: 75%;
  }
  .header {
    flex-direction: column;
    align-items: center;
    height: 300px;
    gap: 30px;
  }
  .logo {
    margin-right: 30px;
  }
  .logo a {
    font-size: 40px;
  }

  .nav-links a {
    font-size: 36px;
  }
  .nav-socialmedia a i {
    font-size: 44px;
  }

  
  .hero {
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    height: 1500px;
    margin: 0 auto;
  }

  .hero-content {
    margin: 0;
  }

  .hero-image-box {
    margin: 0 auto;
  }

  .hero-image {
    width: 80%;
  }

  .heading-description {
    font-size: 28px;
  }

  .button-primary-hero {
    width: 40%;
  }
} */
