* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black: #1f2028;
  --light-black: #131317;
  --white: #ffffff;
  --light-purple: #be3ffa;
  --dark-purple: #911ed8;
  --orange: #e67e22;
  --light-blue: #1c7ed6;
  --dark-blue: #2f0449;
  --yellow: #f6cf00;
}

body {
  font-family: sans-serif;
  background-color: var(--black);
}

/* Header Start */
.header {
  width: 100%;
  height: 124px;
  display: flex;
  justify-content: space-between;
  padding: 32px 64px 32px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  overflow: hidden;
  background-color: var(--black);
}
.logo a {
  color: var(--light-purple);
  padding-left: 48px;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 48px;
}

.nav-links a {
  font-size: 20px;
  color: var(--white);
  transition: all 0.3s;
}

.nav-links a:hover {
  color: var(--light-purple);
}

.nav-socialmedia {
  display: flex;
  gap: 20px;
}
.nav-socialmedia a i {
  color: var(--white);
  font-size: 28px;
  transition: all 0.3s;
}
.nav-socialmedia a i:hover {
  color: var(--light-purple);
}
/* Header End */

/* Section Contact Start */

.contact {
  width: 100%;
  height: 600px;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  gap: 20px;
}

.contact-title h3 {
  font-size: 20px;
  color: var(--white);
}

.contact-title span {
  color: var(--dark-purple);
}

.contact-title h1 {
  font-size: 40px;
  color: var(--white);
}

.contact-form {
  text-align: center;
  margin-top: 50px;
}
.text-box {
  background-color: var(--light-black);
  color: var(--white);
  border: none;
  height: 50px;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 24px;
  font-weight: bold;
  width: 20%;
}

.contact-form textarea {
  background-color: var(--light-black);
  color: var(--white);
  border: none;
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  width: 40%;
  margin-bottom: 48px;
}

.contact-button {
  display: inline-block;
  background-color: var(--dark-purple);
  color: var(--white);
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  padding: 28px;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s;
  width: 20%;
  cursor: pointer;
}

.contact-button:hover {
  background-color: var(--light-purple);
}

/* Section COntact End */

/* Section Footer Start */
.footer {
  width: 100%;
}

.footer p {
  font-size: 20px;
  color: #fff;
  margin: 0 0 50px 50px;
}
/* Section Footer End */
